@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin backgroundImage($imgUrl) {
  height: 100%;
  background: linear-gradient(
      135deg,
      rgba($color-black, 0.1),
      rgba($color-black, 0.1)
    ),
    $imgUrl;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@mixin iconRules {
  margin-left: $border-radius-default;
  border-radius: $border-radius-default;
}
