$color-white: #fff;
$color-black: #000;
$color-grey: #ccc;
$color-grey-dark: #777;

$color-navbar-small: #65b62f;
$color-cta-blue: #0057ff;

$color-invalid: #ff3030;

$color-gradient-1: #242e4d80;
$color-gradient-2: #897e7980;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
