{% extends "base.html" %}
{% block title %}E-mail verification{% endblock %}
{% block content %}
<div class="login__background">
	{% for message in get_flashed_messages() %}
	<script>
		toastr["error"]("{{ message }}");
	</script>
	{% endfor %}
	{% if form.email.errors %}
	{% for error in form.email.errors %}
	<script>
		toastr["error"]("{{ error }}");
	</script>
	{% endfor %}
	{% endif %}
	<div class="container">
		<h3>Login</h3>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.email.label }}
			{{ form.email }}
			<br>
			{{ form.submit(class="btn btn__submit") }}
			<br><br>
			<!-- <label for="username">Username</label><br>
			<input type="text" name="username" id=""><br>
			<label for="password">Password</label><br>
			<input type="password" name="password"><br><br>
			<button type="submit" class="btn btn__submit">Login</button> -->
		</form>
	</div>
</div>
{% endblock %}