{% extends "base.html" %}
{% block title %}E-mail verification{% endblock %}
{% block content %}
<div class="register__background">
	{% for message in get_flashed_messages() %}
	<script>
		toastr["error"]("{{ message }}");
	</script>
	{% endfor %}
	{% if form.email.errors %}
	{% for error in form.email.errors %}
	<script>
		toastr["error"]("{{ error }}");
	</script>
	{% endfor %}
	{% endif %}
	<div class="container">
		<h3 class="heading">Please provide your E-mail so we can send you a registration link</h3>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.email(class="form__input",placeholder="E-mail") }}
			{{ form.email.label(class="form__label") }}
			<br>
			{{ form.submit(class="btn btn__submit") }}
			<br>
		</form>
	</div>
</div>
{% endblock %}