{% extends "base.html" %}
{% block title %}E-mail verification{% endblock %}
{% block content %}
{% for field in form.errors %}
{% for error in form.errors[field] %}
<script>
	var notyf = new Notyf();
	notyf.error("{{ error }}");
</script>
{% endfor %}
{% endfor %}
<div class="register__background">
	<div class="container">
		<h3 class="heading">Please provide your E-mail so we can send you a registration link</h3>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.email(class="form__input",placeholder="E-mail") }}
			{{ form.email.label(class="form__label") }}
			<br>
			{{ form.submit(class="btn btn__submit") }}
			<br>
		</form>
	</div>
</div>
{% endblock %}