{% extends "base.html" %}
{% block title %}Login - Colloquium{% endblock %}
{% block content %}
<div class="login__background">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<script>
		var notyf = new Notyf();
		notyf.{{ category }}("{{ message }}");
	</script>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="container">
		<h3 class="heading">Login</h3>
		<form method="post">
			{{ form.csrf_token }}
			{{ form.username(class="form__input",placeholder="Username") }}
			{{ form.username.label(class="form__label") }}
			{{ form.password(class="form__input",placeholder="Password") }}
			{{ form.password.label(class="form__label") }}
			{{ form.remember_me }}
			{{ form.remember_me.label }}
			<br><br>
			{{ form.submit(class="btn btn__submit") }}
			<br><br>
			<a class="hint" href="{{ url_for('auth.sign_up') }}">Don't have an account yet? Get yours today!</a>
			<a class="hint" href="{{ url_for('auth.login') }}">Forgot password?</a>
			<!-- <label for="username">Username</label><br>
			<input type="text" name="username" id=""><br>
			<label for="password">Password</label><br>
			<input type="password" name="password"><br><br>
			<button type="submit" class="btn btn__submit">Login</button> -->
		</form>
	</div>
</div>
{% endblock %}