{% extends "base.html" %}
{% block title %}Register - Colloquium{% endblock %}
{% block content %}
<div class="register__background">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	{% for category, message in messages %}
	<script>
		var notyf = new Notyf();
		notyf.{{ category }}("{{ message }}");
	</script>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<div class="container">
		<h3 class="heading">Register</h3>
		<form method="post" oninput="validateSignup()">
			{{ form.csrf_token }}
			{{ form.username(class="form__input", placeholder="Username", onkeyup="checkUsernameInDB(this.value)",
			pattern="^[A-Za-z][A-Za-z0-9_.]*$", minlength="3", maxlength="30") }}
			{{ form.username.label(class="form__label") }}
			{{ form.password(class="form__input", placeholder="Password",
			pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$") }}
			{{ form.password.label(class="form__label") }}
			{{ form.confirm(class="form__input", placeholder="Confirm Password",
			pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$", id="confirm-password") }}
			{{ form.confirm.label(class="form__label") }}
			<br>
			{{ form.submit(class="btn btn__submit",disabled="") }}
			<!-- <button type="submit" class="btn btn__submit">Register</button> -->
			<br><br>
			<a class="hint" href="{{ url_for('auth.login') }}">Have an account already? Login here</a>
		</form>
	</div>
</div>
{% endblock %}