.tab {
  display: flex;
  margin: -2rem -2rem 0rem -2rem;
  text-align: center;
  font-weight: bolder;

  &__item {
    flex: 1;
    padding: 2rem 0;

    &:not(&--active) {
      transition: all 0.2s ease-out;
      background-color: $color-grey-main;
      outline: black 1px solid;
    }
  }
}
