@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: thick;
  scrollbar-color: #fff #ccc; }

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%; }
  @media (max-width: 50.75em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 70%; } }

a {
  text-decoration: none; }

body {
  /* min-height: 100%; */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7;
  color: #000;
  box-sizing: border-box; }

.heading {
  text-transform: capitalize;
  color: #000;
  text-align: center; }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 1; }

.hint {
  display: block;
  color: #000; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.btn {
  padding: 0.3rem 6rem;
  font-family: "Lato", sans-serif;
  font-size: inherit;
  display: inline-block; }
  .btn__register {
    color: #fff;
    background-color: #0057ff; }
  .btn__login {
    color: #000;
    background-color: #fff;
    border: 1px #0057ff solid;
    box-shadow: 0 0 10px #ccc; }
  .btn__submit {
    border-radius: 1.5rem;
    border: none;
    background: #0057ff;
    width: 100%;
    padding: 1rem;
    color: #fff; }
  .btn__create-blog {
    width: 50%; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  box-shadow: 0 0 15px #000;
  border-radius: 1rem;
  background: transparent;
  text-align: left; }

.form__input {
  outline: none;
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid transparent;
  padding: 1rem;
  width: 100%;
  display: inline-block;
  font-family: inherit; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #65b62f; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff3030; }
  .form__input::placeholder {
    color: #000; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  text-align: initial; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__textarea {
  resize: none; }

.nav-small {
  display: none; }
  @media only screen and (max-width: 88.125em) {
    .nav-small {
      list-style: none;
      text-align: center;
      display: block; }
      .nav-small__item {
        display: block;
        padding: 2rem; }
      .nav-small__item:nth-child(odd) {
        animation: moveInLeft 1s ease-out; }
      .nav-small__item:nth-child(even) {
        animation: moveInRight 1s ease-out; } }
  .nav-small__item a {
    color: #fff; }

nav li {
  display: inline;
  list-style: none;
  text-transform: uppercase; }

#navBtn {
  display: none; }

@media only screen and (max-width: 50em) {
  #navBtn {
    display: block;
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    color: #65b62f;
    background: #000;
    padding: 1rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem !important;
    z-index: 2; } }

@media only screen and (max-width: 88.125em) and (min-width: 50em) {
  #navBtn {
    display: block;
    position: absolute;
    top: 2rem;
    right: 5rem;
    color: #65b62f;
    background: #000;
    padding: 1rem;
    border-radius: 50%;
    height: 5rem;
    width: 5rem !important;
    z-index: 2; } }

.nav-large {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px #000; }
  @media only screen and (max-width: 88.125em) {
    .nav-large {
      display: none; } }
  .nav-large ul {
    padding: 0.5rem;
    width: 100%; }
  .nav-large li a {
    padding: 0 4rem;
    color: #000; }

.left {
  float: left;
  padding: 0.5rem;
  margin: auto; }
  .left:hover {
    /* text-decoration: underline overline black; */
    box-shadow: 0px 15px 10px -15px #111;
    /* border: 0.5px black solid; */
    border-radius: 2rem; }

.right {
  text-decoration: none;
  float: right;
  margin: auto 0.5rem;
  border-radius: 1.5rem;
  position: relative; }

.user-icon {
  color: #000;
  top: 0.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.login__background {
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/register-bg.jpg");
  background-size: cover;
  background-position: center;
  width: 100%; }

.register__background {
  height: 100%;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/register.jpg");
  background-size: cover;
  background-position: center;
  width: 100%; }

.create__card {
  border: 1px solid #000;
  border-radius: 1rem;
  padding: 2rem;
  background-color: beige; }

.create__title {
  text-transform: uppercase;
  display: block; }
