.create {
  &__card {
    height: 42rem;
    border: 1px solid $color-black;
    border-radius: $border-radius-default;
    padding: 1rem;
    background-color: $color-grey-main;
  }

  &__title {
    text-transform: uppercase;
    display: block;
  }
}

.user {
  &__list {
    border: 1px $color-black solid;
    border-radius: $border-radius-default;
    padding: 1rem;
    text-align: left;
    overflow: auto;
    height: auto;
    max-height: 25rem;
  }

  & {
    display: block;
  }

  &__checkbox {
    float: right;
    position: relative;
    top: 1.5rem;
  }
}
