.login {
  &__background {
    height: 100%;
    background: linear-gradient(
        135deg,
        rgba($color-black, 0.1),
        rgba($color-black, 0.1)
      ),
      url("../images/register-bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
  }
}
